:root {
  font-family:
    "Manrope",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  --color-brand: #795f3b;
  --color-brand-dark: #6b5432;
  --color-text-secondary: #a38b67;
  --radius: 12px;
  --transition-base: background 0.1s;

  letter-spacing: 0.02em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  font-family: inherit;
  letter-spacing: inherit;
}
